/* Projects.css */
.projects {
    padding: 3rem 1rem;
    background-color: #060607;
    margin: 2rem 0;
  }
  
  .projects h2 {
    font-size: 76px;
    margin-bottom: 2rem;
    color: #f6f8f9;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .project-item {
    background-color: #131212;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .project-content {
    padding: 2rem;
  }
  
  .project-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .project-content p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
    color: #fbfbfb;
  }
  
  .project-content a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .project-content a:hover {
    background-color: #2980b9;
  }
  